/*Fonts, Sizes, and All That Jazz*/
h1 {
	font-family:"Work Sans", sans-serif;
	font-size: 100px;
	font-weight:100;
	padding-top:50px;
	line-height:70px;
/*	font-weight:100;*/
}

h2 {
	font-family:"Dawning of a New Day", cursive;
	font-size:40px;
	line-height:30px;
}

h3 {
	line-height:5px;
	font-family: "Work Sans", sans-serif;
}

h4 {
	font-family: "Pacifico", cursive;
	color: purple;
	font-size:16px;
}

/*Links*/
a {
	color:black;
}

a:hover {
	color:purple;
	opacity:0.7;
	text-decoration:none;
}

/*Carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height: 345px;
  width:auto;
  margin: auto;
}
.carousel{
  background-color: white;
  width:auto;
  height:auto;
}
.carousel-control.left, .carousel-control.right {
  background: none;  
}

#imageOther {
	padding-right:40px;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(5deg);

	/* Firefox */
	-moz-transform: rotate(5deg);

	/* IE */
	-ms-transform: rotate(5deg);

	/* Opera */
	-o-transform: rotate(5deg);
	/*IE I'm not even going to bother*/
}

#titleText {
	color:purple;
}
.wrapper {
	text-align:center;
}

#titleName{
	text-shadow: 1px 1px 1px gray;
}

.icons {
	padding-top:8px;
}
.icon {
	padding:10px;
	color: purple;
}

.projIcon {
	color:purple;
}
.link {
	display:inline;
	color:black;
	padding-right:20px;
}

#textArr {
	font-family:"Work Sans", sans-serif;
}

a.meText {
	color:purple;
}

.dateText{
	color:gray;
}

/*Lists*/
ul.noneUl {
  list-style: none;
  padding: 0;
  text-align:center;
}

ul {
	padding-left: 20px;
}

/*li.me:before {
  content: "\f1b2"; 
  font-family: "FontAwesome";
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em; 
}*/

