/*Fonts, Sizes, and All That Jazz*/
body {
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../img/bg1.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    height: 100%;
}
h1 {
	font-family:"Work Sans", sans-serif;
	font-size: 100px;
	font-weight:100;
	padding-top:50px;
	line-height:70px;
}

h2 {
	font-family:"Dawning of a New Day", cursive;
	font-size:40px;
	line-height:30px;
}

h3 {
	line-height:5px;
	font-family: "Work Sans", sans-serif;
}

h4 {
	font-family: "Pacifico", cursive;
	color: deeppink;
	font-size:16px;
}

/* links*/
a {
	color:black;
}

a:hover {
	color:deeppink;
	opacity:0.4;
	text-decoration:none;
}

a.linkRef {
    color:deeppink;
}

/* misc changes to text */
.dateText{
    color:gray;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(5deg);

	/* Firefox */
	-moz-transform: rotate(5deg);

	/* IE */
	-ms-transform: rotate(5deg);

	/* Opera */
	-o-transform: rotate(5deg);
	/*IE I'm not even going to bother*/
}

/* circle flex div */
.circle {
    border-radius: 1000px;
    border: 1px solid #FFDADA;
    background-color: #FFF8F8;
    width: 1000px;
    opacity: 0.8;
    z-index: 5;
    align-content: flex-start;
    height: 1000px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}

/* item divs */
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .title {
    padding-top: 50px;
	text-align:center;
}

.item .bio {
    padding-right: 10px;
}

.item propic {
    text-align:center;
    padding-top:50px;
    position:relative;
}

#titleName{
	text-shadow: 2px 2px 2px lightpink;
    color: deeppink;
    text-align: center;
}

#titleSub {
    text-align: center;
}

.headingTitle {
    color: deeppink;
}

/*icons*/
#icons {
	padding-top:8px;
}

.icon {
    padding: 10px;
}

.icon:hover {
    opacity: 0.5;
}

.icon.blue {
    color: royalblue;
}

.icon.lightpink{
    color: hotpink;
}

.icon.pink{
	color: deeppink;
}

.icon.darkblue{
    color: cornflowerblue;
}

.icon.purple{
    color: rebeccapurple;
}

.icon.quotation {
    padding: 10px;
	color: purple;
}

/*lists*/
ul.noneUl {
  list-style: none;
  padding: 0;
}

ul {
	padding-left: 20px;
}

